@import url('./card.css');

:root {
    --yellow: hsl(47, 88%, 63%);
    --white: hsl(0, 0%, 100%);
    --grey: hsl(0, 0%, 50%);
    --black: hsl(0, 0%, 7%);
    font-size: 16px;
}

body {
    font-family: 'Figtree', sans-serif;
    margin: 0;
}

.page {
    inline-size: 100vw;
    block-size: 100vh;
    background-color: var(--yellow);
    display: flex;
    align-items: center;
    justify-content: center;
}